*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 90px 1fr 90px;
    padding-left: 200px;
    padding-right: 200px;
    background-image: url(./imgMH/fundo5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  
}

.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "foto1 foto1 foto1 foto1 foto1 foto2 foto2 foto2 foto3  foto3 foto3"
    "foto1 foto1 foto1 foto1 foto1  foto4  foto4 foto4 foto5 foto5 foto5"
    "foto6 foto6 foto6 foto7 foto7  foto7 foto8 foto8 foto8 foto8 foto8";

}
.photo{
    color: rgb(141, 44, 5);
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

.gallery{
    color: rgb(255, 215, 179);
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.foto{
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
   

}

.foto:nth-child(1){

    grid-area: foto1;
    background-image: url(./imgMH/mo1.jpg);
    background-position:initial;
}

.foto:nth-child(2){

    grid-area: foto2;
    background-image: url(./imgMH/mo2.jpg);
    background-position:initial;
}

.foto:nth-child(3){

    grid-area: foto3;
    background-image: url(./imgMH/mo3.jpg);
    background-position:initial;
}

.foto:nth-child(4){

    grid-area: foto4;
    background-image: url(./imgMH/mo4.jpg);
    background-position:center;
}

.foto:nth-child(5){

    grid-area: foto5;
    background-image: url(./imgMH/mo5.jpg);
    background-position:initial;
}

.foto:nth-child(6){

    grid-area: foto6;
    background-image: url(./imgMH/mo6.jpg);
    background-position:initial;
}

.foto:nth-child(7){

    grid-area: foto7;
    background-image: url(./imgMH/mo7.jpg);
    background-position:center;
}

.foto:nth-child(8){

    grid-area: foto8;
    background-image: url(./imgMH/mo8.jpg);
    background-position:center;
}

.foto__info{
    position: absolute;;
    width: 100%;
    height: 48px;
    bottom: 0;
    background-color: rgb(245, 245, 245);
    opacity: 0.6;
    transform: translateY(100%);
    transition: 1s;
    color: rgb(124, 68, 4);
    font-family: 'Shadows Into Light', cursive;
    
}

.foto__info h1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foto:hover > .foto__info{

    transform: translateY(0%);
}

@media (max-width:768px){
    body{
        padding-left: 12px;
        padding-right: 12px;
    }


.galeria{

    display: flex;
    flex-direction: column;
}
.foto{
    width: 100%;
    height: 33vh;
  
}
}